<!DOCTYPE html>
<% if (!userAsAnObject) { %>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% } else{ %>
  User: <%= userAsAnObject.email %>
  <a href="/urls/">All</a>
  <a href="/urls/new">New</a>
  <form action="/logout" method="POST" style="display: inline-block;">
    <input type="submit" value="Logout">
  </form>
<% } %>