<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <header>
  <% include partials/_header %>
  </header>
    <h2>URLS:</h2>
    <ul>
     <% for (key in importedDatabase) { %>
        <li><%= importedDatabase[key] %> - /u/<%= key %> -
        <form style="display: inline" action="/urls/<%= key %>">
          <input type="submit" value="Edit" />
        </form>
        <form style="display: inline-block;" method="POST" action="/urls/<%= key %>/delete">
          <button>Delete</button>
        </form>
        </li>
     <% } %>
   </ul>
   <a href="/urls/new">Create New URL</a>
</body>
</html>