<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
    <% include partials/_header %>
    </header>
      <h2>URLS:</h2>
      <ul>
         <li><%= longURL %> - <%= shortURL %></li>
      </ul>
      <form action="/urls/<%= shortURL %>" method="POST">
      <label for="longURL">Update The URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
      </form>
  </body>
</html>